<h1><%=name%> del articulo</h1>

<%= form_for(@article) do |f|%>
  <% @article.errors.full_messages.each do |message|%>
    <div class="w3-red w3-center">
      *<%= message %>
    </div>

  <%end%>
  <div class="field ">
    <%= f.text_field :title, placeholder: "Titulo",class: "form-control"  %>
  </div>
  <div class="field ">
    <%= f.text_area :body, placeholder: "Escribir aqui el articulo",class: "form-control" %>
  </div>
  <div class="field ">
    <%= f.submit "Guardar",class:"w3-btn w3-black"%>
  </div>
<%end%>
