<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style media="screen">

    .container{

      padding-top: 18px;
      padding-bottom: 18px;
    }

  </style>
  <body>
    <div class="w3-row">
      <div class="w3-quarter w3-green container">
        <div class="w3-center">
          <%= link_to "home button", "/welcome/index" %>
        </div>
      </div>
      <div class="w3-quarter w3-red container">
        <div class="w3-center">
          <%= link_to "articles", "/articles" %>
        </div>
      </div>
      <div class="w3-quarter w3-orange container">
        <div class="w3-center">
          <%= link_to "new article", "/articles/new" %>
        </div>
      </div>
      <div class="w3-quarter w3-blue container">
        <h1 class="w3-center ">Juegos</h1>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
